<h1>All Users Page</h1>
<form id="filter">
    <input type="text" placeholder="Search with Name or Username" name="search" [(ngModel)]="search" >
</form>
<div style="padding-top: 30px; " class="col-md-6">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of usersdata | filter:search " >
      <tr>
        <td (click)="userlist(user)" class="userdata">{{user.name}}</td>
        <td>{{user.username}}</td>
      </tr>
    </tbody>
  </table>
</div>
